{% block newrow %}   </tr><tr>
{% endblock %}    <td {{ width }} class="thumb_album">
     <a href="{{ filename }}">
      <img class="thumb_album" src="{{ thumb }}" alt="{{ alt }}">
      <br>{{ caption }}
     </a>
    </td>
