   <tr>
    <td {{ cs_foot }} class="footer">
    {{ footer }}
{% block istats %}
    <script type="text/javascript">
    <!-- 
    var ipath='{{ istats }}'
    document.write('<SCR' + 'IPT LANGUAGE="JavaScript" SRC="http://'+ ipath +'/istats.js"></SCR' + 'IPT>');
    //-->
    </script><br>
{% endblock %}
{% block rss2 %}
     <a class="about" href="{{ rss }}">RSS feed</a>
{% endblock %}
    </td>
   </tr>
  </table>
 </body>
</html>

