{% block newrow %}   </tr><tr>
{% endblock %}    <td {{ width }} class="thumb_image">
     <a href="{{ url }}">
      <img class="thumb_image" src="{{ src }}" alt="{{ alt }}">
      <br>
      {{ text }}
     </a>
    </td>
