<footer>
{{ footer }}
{% block istats %}
    <script>
    <!-- 
    var ipath='{{ istats }}'
    document.write('<SCR' + 'IPT LANGUAGE="JavaScript" SRC="http://'+ ipath +'/istats.js"></SCR' + 'IPT>');
    //-->
    </script><br>
{% endblock %}
{% block rss2 %}
     <a class="about" href="{{ rss }}">RSS feed</a>
{% endblock %}
</footer>
</body>
</html>

