body {
  max-width: 1000px;
  font-family: sans-serif;
  background: black;
  color: white;
  font-size: 22px;
}

h1 {
  color: white;
}

.date {
}

nav {
  background: #000;
  color: #CCC;
  border-color: #777;
  border-radius: 5px;
}

.thumbs div {
  font-family: serif;
}

.thumbs div.thumb_album:hover,
.thumbs div.thumb_image:hover {
  background: #05A;
}

.thumbs div.break {
  color: #FFF;
  background: #000;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #777;
  border-radius: 7px;
}

.exif {
  font-family: monospace;
}

.more_link {
  background: #000;
  color: #AAA;
  border-style: solid;
  border-width: 1px;
  border-color: #777;
  border-radius: 7px;
}

/* MAIN PART */

body {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:active {
  color: #FF0;
  text-decoration: none;
}

a:hover {
  color: #F00;
  text-decoration: none;
}

header {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.date {
  float: right;
  color: #FFF;
  text-align: right;
  font-size: 18px;
  font-weight: normal;
  padding-top: 6px;
}

nav {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  vertical-align: middle;
  padding: 3px 0;
  border-style: solid;
  border-width: 1px;
}

.flex_spacer {
  flex-grow: 1;
}

nav span {
  padding-left: 0px;
  padding-right: 12px;
}

figure {
  margin: 0;
  padding: 0;
}

.thumbs {
  display: grid;
  grid: auto-flow / repeat(auto-fit, minmax(calc(var(--thumb_size, 300px) + 10px), 1fr));
  list-style: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 0px;
  justify-content: center;
  padding: 0px;
}

.thumbs li {
  padding: 0px;
  text-align: center;
}

.thumbs img {
/* Prevent a big thumbnail from spilling out */
/*  max-width: 100%;*/
}

.thumbs figure:hover {
  filter:alpha(opacity=70);
  opacity: 0.7;
}

.thumbs div.break {
  grid-column: 1/-1;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  width: 100%;
  margin-bottom: 12px;
}

.thumbs div.break_empty {
  grid-column: 1/-1;
  margin: 0px;
}

.thumbs div.thumb_album,
.thumbs div.thumb_image {
  margin-bottom: 1em;
}

figure.image {
  padding: 12px;
  text-align: center;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

.thumb_album img {
  border-width: 2px;
  border-style: groove;
  border-color: #777;
  border-radius: 7px;
}

.thumb_image img {
  border-width: 1px;
  border-style: solid;
  border-color: #777;
  border-radius: 3px;
}

.exif {
  text-align: center;
  vertical-align: top;
  font-size: 16px;
  padding: 10px;
  color: #EEE;
  cursor: help;
  outline: none;
}

.exif > summary {
  list-style: none;
  outline: none;
}

.exif > summary::-webkit-details-marker {
  display: none;
}

footer {
  padding-top: 12px;
  padding-bottom: 2px;
  padding-right: 4px;
  text-align: center;
  vertical-align: bottom;
  font-size: 14px;
}

.more_link {
  font-size: 14px;
  padding: 1px 12px 1px 12px;
  margin-left: auto;
  margin-right: 0;
  width: max-content;
}
